* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.main_div {
  width: 100%;
  height: calc(100vh - 96px);
  background: #7be0ed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div {
  width: 35%;
  height: 70vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h1 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 50px;
  margin-bottom: 30px;
  min-width: 64px;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  /* plz subscibe to thapatechnical channel */
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

input {
  text-align: center;
  height: 30px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
  margin-right: 20px;
}

.newBtn {
  width: 50px;
  height: 55px;
  background-color: #16a085 !important;
  color: white !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  /* plz subscibe to thapatechnical channel */
  border-radius: 50% !important;
}

.newBtn:hover {
  color: #16a085 !important;
  background: white !important;
}

/* //the add symbol inside the button in app comp */

.MuiSvgIcon-root {
  width: 2rem !important;
  height: 2rem !important;
}

ol {
  margin-top: 30px;
  /* margin-right: 50px; */
}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
  /* plz subscibe to thapatechnical channel */
  list-style: none;
}

.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style .deleteIcon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  padding: 5px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo_style .deleteIcon:hover {
  background-color: transparent;
  color: crimson;
  box-shadow: 5px 5px 15px -5px rgba(255, 0, 0, 0.5);
}

.todo_style .fa-times:hover .list_style {
  color: crimson;
}

@media (max-width: 768px) {
  .center_div {
    width: 55%;
  }
  .todo_style .fa-times {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* plz subscibe to thapatechnical channel */
  }
  button {
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  }
}


.dFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
  background-color: #272b34;
}

.rNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
}

.rNav .logo {
  font-size: 30px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);

}

.rNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rNav ul li{
 font-size: 14px;
  margin-left: 15px;
  padding: 10px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.rNav .search {
  color: rgba(255, 255, 255, 0.7);
}

.rNav .search .fa {
  cursor: pointer;
}

.rNav .search .fa +.fa {
  margin-left: 15px;
}

.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0 ;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.main_content h3 {
  position: absolute;
  left: 0;
  top: 0;
  color: #2d343e;
  font-size: 10.5vw;
}

.main_content .rCard{
  width: 300px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: scale(.8);
  transition: all .3s ease-in-out;
  margin-bottom: 50px;
}

.main_content .rCard .card_img{
  margin-top: -5vw;
}

.main_content .rCard .card_img img {
  width: 200px;
}

.main_content .card_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin: 25px 0;
}

.main_content .card_header h2 {
  font-size: 18px;
}

.main_content .card_header p {
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin: 8px 0;
}

.main_content .card_header .price {
  font-size: 25px;
  color: #fe8033;
}

.main_content .card_header .price span {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}

.main_content .rCard:hover {
  background-color: #2b3039;
  transform: scale(1.1);
  cursor: pointer;
}

.rCard:hover .rBtn {
  background-color: #fe8033;
  color: #fff;
}

.rBtn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  background-color: #2d343e;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background-color .3s ease;
  overflow: hidden;
}

.rFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
  color: rgba(255,255,255, .3);
  font-size: 12px;
}

.rFooter .rSocial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rFooter .rSocial .fa {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgba(255,255,255, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgba(255,255,255, .3);
  cursor: pointer;
}

.rFooter .rSocial .fa + .fa {
  margin-left: 15px;
}